html, body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#input-div{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 15px;
    height: 90px;
}

.colour-picker{
    width: 61px;
    height: 42px;
    border: none;
    background-color: #D1D5DB;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
}

#colour-scheme{
    width:312px;
    height: 42px;
    padding-left:13px;
    font-size: 16px;
    border-radius: 6px;
    appearance: none;
    border: none;
    outline: 1px solid #D1D5DB;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
}

button {
    width: 123px;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #F3F4F6;
}

button:active {
    background-color: #E5E7EB;
}


.colour {
  width: 110px;
}

#colour-div{
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 550px;
    margin: 0 auto;

}

#colour-labels{
    width: 550px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.hex-label{
    position: relative;
    cursor: pointer;
}

.hex-label::after{
    position: absolute;
    content: 'click to copy';
    opacity: 0;
    font-size: 14px;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.hex-label:hover::after{
    opacity: 1
}
